* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

header {
    background-image: url("../images/banner-1036483_640.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
}

.nav-link {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: 15px;
    position: relative;
    padding: 0px !important;
}

.nav-item {
    margin-left: 30px;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 142, 214);
    transition: all 0.4s ease-in-out 0s;
}

.nav-link::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 142, 214);
    transition: all 0.4s ease-in-out 0s;
}

.nav-link:hover::before {
    width: 48%;
}

.nav-link:hover::after {
    width: 48%;
}

.banner {
    align-items: center;
    min-height: 90vh;
}

.banner h4 {
    color: rgb(0, 142, 214);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 16px 0px 20px;
}

.banner p {
    color: rgb(153, 153, 153);
    margin-bottom: 30px;
}

.btn_download {
    background: rgb(0, 142, 214);
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn_view {
    background: transparent;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    border-radius: 3px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn_view:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 142, 214);
    border-color: rgb(0, 142, 214);
}

.btn_download:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(153, 153, 153);
}

.phone {
    position: absolute;
    bottom: 0px;
    right: 110px;
    width: 35%;
}

.feature {
    padding: 70px 0px;
}

.section_title {
    text-align: center;
}

.section_title h4 {
    color: rgb(0, 142, 214);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.section_title h1 {
    font-size: 35px;
}

.section_title span {
    display: block;
    height: 2px;
    width: 50px;
    background: transparent;
    margin: 20px auto auto;
    transition: all 0.4s ease-in-out 0s;
    position: relative;
}

.section_title span::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 142, 214);
    transition: all 0.4s ease-in-out 0s;
}

.section_title span::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 142, 214);
    transition: all 0.4s ease-in-out 0s;
}

.feature:hover .section_title span::after, .testimonial:hover .section_title span::before {
    width: 48%;
}

.feature:hover .section_title span::before, .testimonial:hover .section_title span::after {
    width: 48%;
}

.feature_item {
    text-align: center;
}

.icon_box {
    height: 60px;
    width: 60px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    color: rgb(153, 153, 153);
    font-size: 20px;
    margin: auto auto 10px;
}

.icon_box i {
    color: rgb(37, 158, 220);
}

.feature_item {
}

.feature_item h2 {
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(98, 98, 98);
    font-weight: 400;
}

.feature_item p {
    font-size: 18px;
    color: rgb(153, 153, 153);
    line-height: 25px;
}

hr {
    color: rgb(153, 153, 153);
}

.details_section {
}

.details_section .section_title, .customize_section .section_title {
    text-align: left;
    margin-top: 100px;
}

.phone_img {
}

.details_section p {
    margin-bottom: 20px;
    color: rgb(153, 153, 153);
}

.details_section ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.details_section ul li {
    color: rgb(153, 153, 153);
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.details_section ul li .icon_list {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: rgb(68, 172, 225);
}

.details_section:hover .section_title span::after, .customize_section:hover .section_title span::before, .pricing_section:hover .section_title span::before {
    width: 48%;
}

.details_section:hover .section_title span::before, .customize_section:hover .section_title span::after, .pricing_section:hover .section_title span::after {
    width: 48%;
}

.details_section .section_title span, .customize_section .section_title span {
    margin: 20px 0px;
}

.customize_section {
    background-color: rgb(242, 242, 242);
    padding: 50px 0px;
}

.testimonial {
    background-image: url("../images/banner.-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    padding: 70px 0px;
}

.testimonial .section_title h1 {
    color: rgb(255, 255, 255);
}

.testimonial p {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 20px;
    margin-top: 30px;
}

.client {
    display: flex;
    margin-top: -8px;
}

.client_img {
    transform: translate(2px, 22px);
    margin-right: 15px;
}

.client_info {
}

.client_info p {
    font-style: normal;
    font-size: 15px;
}

.client_info h5 {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.pricing_footer {
    background-color: rgb(0, 0, 0);
    min-height: 20vh;
    align-items: center;
    margin: auto;
}

.pricing_footer h1 {
    text-align: center;
    font-weight: 600;
    color: white;
    margin-top: 4%;
}

.pricing_footer a {
    align-items: center;
}

.pricing_footer span {
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 30px;
}

.btn2_download {
    background: rgb(0, 153, 204);
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid rgb(0, 153, 204);
    font-size: 14px;
    transition: all 0.4s ease-in-out 0s;
    margin-top: 37px;
    margin-left: 15px;
}

.btn2_view {
    background: transparent;
    border: 1px solid rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    padding: 12px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.4s ease-in-out 0s;
    margin-top: 37px;
    margin-left: 15px;
}

.btn2_view:hover {
    color: white;
    background-color: rgb(0, 153, 204);
    border-color: rgb(0, 153, 204);
    margin-top: 37px;
    margin-left: 15px;
    box-shadow: rgba(0, 153, 204, 0.67) 0px 10px 40px 0px;
}

.btn2_download:hover {
    color: white;
    border-color: rgb(102, 102, 102);
    background: transparent;
    margin-top: 37px;
    margin-left: 15px;
    box-shadow: rgba(0, 153, 204, 0.67) 0px 10px 40px 0px;
}

.pricing_section {
    padding: 70px 0px;
    height: 100vh;
}
.row{
    
}

.pricing_section .pricing_box {
    margin-top: 50px;
    border: 1px solid rgb(242, 242, 242);
    text-align: center;
    padding: 30px 0px;
    margin-bottom: 50px;
}

.pricing_box h2 {
    text-transform: capitalize;
    padding: 30px;
}

.price {
    padding: 15px 0px;
    border-top: 1px solid rgb(242, 242, 242);
    border-bottom: 1px solid rgb(242, 242, 242);
    transition: all 0.4s ease-in-out 0s;
}

.price h1 {
}

.price h1 sup {
    font-size: 24px;
    transition: all 0.4s ease-in-out 0s;
}

.price p {
    padding: 0px !important;
}

.pricing_box p {
    padding: 20px 30px;
}

.pricing_box .btn_view {
    color: rgb(153, 153, 153);
    margin: 0px;
    transition: all 0.4s ease-in-out 0s;
}

.pricing_box .btn_view:hover {
    color: rgb(255, 255, 255);
}

.pricing_box:hover h2 {
    color: rgb(0, 142, 214);
}

.pricing_box:hover .price {
    background-color: rgb(0, 142, 214);
    color: rgb(255, 255, 255);
}

.pricing_box:hover .btn_view {
    background-color: rgb(0, 142, 214);
    color: rgb(255, 255, 255);
}


/*  */

.contact_us{
    background-color: #ededed;
    padding: 70px 0;
    position: relative;
    margin-bottom: -6px;
    padding-bottom: 300px;
 
}
.info{

text-align: center;

padding: 60px;
}
.info i{
    
color: #008ed6;
    
font-size: 30px;
    
margin-bottom: 25px;
}



.contact_form{

background: #000;

padding: 80px 30px;

position: absolute;

bottom: -100px;

left: 50%;

transform: translate(-50%);
}
.contact_form form{
    
}
.contact_form form input{
    
background: transparent;
    
border: 2px solid #444348;
    
border-radius: 3px;
    
color: #504f52;
    
text-transform: uppercase;
}

.contact_form form input::placeholder{
    color: #444348;

}
.contact_form form textarea::placeholder{
    color: #444348;

}

.contact_form form input:focus{
    outline: none;
    background-color: #000;
    color: #fff;
}

.contact_form form textarea:focus{
   outline: none;
   background-color: #000;
   color: #fff;
}
.contact_form form textarea{
    
background: transparent;
    
border: 2px solid #444348;
    
border-radius: 3px;
    
text-transform: uppercase;
    
color: #504f52;
}
.contact_form form input[type='Submit']{
    
margin-left: auto;
    
padding: 0;
    
padding: 12px 12px;
    
display: block;
    
border: 1px solid #008ed6;
    
color: #fff;
    
text-transform: uppercase;
    
font-size: 10px;
transition: .4s all ease-in-out;
}
.contact_form form input[type='Submit']:hover{
    background: #008ed6;
    color: white;
    border-color: rgb(102, 102, 102);
    box-shadow: #0099ccab;
}




footer{

    padding: 30px 0;
    
    background: #15141a;
    }
    .social-section{justify-content: space-around;}
    .social-icon{
    
    }
    .social-icon ul{
        
    list-style: none;
        
    display: flex;
        
    justify-content: space-between;
    }
    .social-icon ul li{
        
    }
    .social-icon ul li i{
        
    color: #999999;
    }
    .social-icon ul li i:hover{
        color: #008dd5;
    }
    .copyright p{
    
    text-align: center;
    
    color: #444348;
    
    text-transform: uppercase;
    
    margin-top: 7px;
    }




